@import "tailwindcss";

body {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: transparent;
  height: 64px; /* this is the height of the navbar , make it fixed */
  position:sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
}
